
body{
	background-color: #000;
}

.ring{
	position: relative;
	margin: 0 auto;
	width: 316px;
	border: 0px solid #fff;
	height: 316px;
	/*animation:rotate 5s linear infinite;*/
}

.ring1{
	position: absolute;
	border-top: 8px solid #0B3B3C;
	border-left: 8px solid #000;
	border-right: 8px solid #000;
	border-bottom: 8px solid #0B3B3C;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	transform:rotate(-45deg);
-webkit-animation: rotate1 linear 3s infinite;
		-o-animation: rotate1 linear 3s infinite;
		animation: rotate1 linear 3s infinite;
}

.ring2{
	position: absolute;
	top: 8px;
	left:8px;
	border: 20px solid #091515;
	width: 260px;
	height: 260px;
	border-radius: 50%;
}

.ring3{
	position: absolute;
	top: 28px;
	left:28px;
	border-top: 4px solid #15E1E6;
	border-left: 4px solid #091515;
	border-right: 4px solid #091515;
	border-bottom: 4px solid #15E1E6;
	width: 252px;
	height: 252px;
	border-radius: 50%;
	transform:rotate(90deg);
	-webkit-animation: rotate2 linear 5s infinite;
	-o-animation: rotate2 linear 5s infinite;
	animation: rotate2 linear 5s infinite;	

}

.ring4{
	position: absolute;
	top: 32px;
	left:32px;
	border: 15px solid #0B3B3C;
	width: 222px;
	height: 222px;
	border-radius: 50%;	
}

.ring5{
	position: absolute;
	top: 47px;
	left:47px;
	border-top: 2px solid #15E1E6;
	border-left: 2px solid #091515;
	border-right: 2px solid #091515;
	border-bottom: 2px solid #15E1E6;
	width: 218px;
	height: 218px;
	border-radius: 50%;	
	transform:rotate(20deg);
	-webkit-animation: rotate3 linear 6s infinite;
	-o-animation: rotate3 linear 6s infinite;
	animation: rotate3 linear 6s infinite;	
}

.ring6{
	position: absolute;
	top: 49px;
	left:49px;
	border-top: 15px solid #15E1E6;
	border-left: 15px solid #091515;
	border-right: 15px solid #091515;
	border-bottom: 15px solid #15E1E6;
	width: 178px;
	height: 178px;
	border-radius: 50%;	
	margin: 5px;
	transform:rotate(-45deg);
	-webkit-animation: rotate1 linear 4s infinite;
	-o-animation: rotate1 linear 4s infinite;
	animation: rotate1 linear 4s infinite;
}

.ring7{
	position: absolute;
	top: 69px;
	left:69px;
	border: 8px solid #0B3B3C;
	width: 162px;
	height: 162px;
	border-radius: 50%;		
}

.ring8{
	position: absolute;
	top: 77px;
	left:77px;
	border: 3px solid #162A2B;
	width: 140px;
	height: 140px;
	border-radius: 50%;	
	margin: 8px;	
}

@keyframes rotate1{
	from{transform:rotate(-45deg);}
	to {transform:rotate(315deg);}
}

@keyframes rotate2{
	from{transform:rotate(90deg);}
	to {transform:rotate(-270deg);}
}

@keyframes rotate3{
	from{transform:rotate(20deg);}
	to {transform:rotate(-340deg);}
}


.ring:hover .ring1{
	-webkit-animation-play-state:paused; 
	-o-animation-play-state:paused; 
	animation-play-state:paused; 	
}

.ring:hover .ring3{
	-webkit-animation-play-state:paused; 
	-o-animation-play-state:paused; 
	animation-play-state:paused; 	
}

.ring:hover .ring5{
	-webkit-animation-play-state:paused; 
	-o-animation-play-state:paused; 
	animation-play-state:paused; 	
}

.ring:hover .ring6{
	-webkit-animation-play-state:paused; 
	-o-animation-play-state:paused; 
	animation-play-state:paused; 	
}


